<div class="container-fliud">
  <div class="container">
    <div class="row">
      <div class="preview">
        <div class="preview-pic tab-content">
          <div class="tab-pane" [ngClass]="{'active': image.id == 0}" id="pic-{{idx}}" *ngFor="let image of images; let idx = index">
            <img [src]="image.imagePath">
          </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li [ngClass]="{'active': image.id == 0}" *ngFor="let image of images; let idx = index">
            <a [attr.data-target]="'#pic-' + idx" data-toggle="tab">
              <img class="image-thumbnail" [src]="image.imagePath">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>